:root {
	--swiper-navigation-size: 30px;
	--swiper-navigation-color: red;
	--swiper-pagination-color: red;
}

.free-shiping {
	background-color: #3c3c3c;
	margin: 0;
	border-bottom: 1px solid #757575;

	p {
		color: #fcd700;
		margin: 0;
	}
}

.sticky-nav {
	display: none;
	top: -100%;
	z-index: 99;
}

.sticky-nav.sticky {
	display: block;
	top: 0;
}

#search-box {
	width: 20em;
}

.search-icon {
	right: 1em;
	cursor: pointer;
}

.cart {
	width: 10rem;

	span {
		&:nth-child(2) {
			font-size: 14px;
		}
	}
}

.signin-btn {
	font-size: 14px;
}

.item-count {
	height: 1.5em;
	width: 1.5em;
	background-color: white;
}

.category {
	font-size: 0.8rem;
	padding: 0.7em 0;

	a {
		color: black;
		text-decoration: none;

		&:hover {
			color: red;
		}
	}
}

.my-dropdown {
	position: relative;
	display: inline-block;

	.my-dropdown-menu {
		visibility: hidden;
		position: absolute;
		padding: 1em 2em;
		top: 100%;
		min-width: 200px;
		background-color: white;
		z-index: 100;
		border: 1px solid #ebebeb;
		opacity: 0;
		transform: perspective(600px) rotateX(-90deg);
		transform-origin: 0 0 0;
		transition: all 0.5s ease-in-out;

		li {
			list-style: none;
			margin: 1em 0;
		}
	}

	&:hover .my-dropdown-menu {
		visibility: visible;
		opacity: 1;
		transform: perspective(600px) rotateX(0deg);
	}
}

#top-banner-carousel {
	img {
		width: auto;
		height: 90vh;
	}
}

.swiper-slide {
	width: 300px;
	min-height: 350px;
	position: relative;

	img {
		border-radius: 0.3em;
		width: 100%;
		height: 350px;
		object-fit: cover;
	}

	.sale-tag {
		position: absolute;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgb(71, 168, 71);
		color: white;
		top: 1em;
		right: 1em;
	}

	.category-title {
		position: absolute;
		margin: 0 auto;
		padding: 0.2em 3em;
		bottom: 1em;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 0.1em;
		background-color: white;
		opacity: 80%;
		transition: all 0.8s;
		cursor: pointer;

		&:hover {
			background-color: black;
			color: red;
			padding: 0.2em 4em;
			opacity: 90%;
		}
	}
}

.trending-category {
	background-color: #f5f5f9;
}

.category-titles {
	.active {
		color: white;
		background-color: #c40316;
	}
}

.new-arrival {
	.category {
		display: none;
		animation: fadeEffect 1s;
	}
	.category-item {
		border: 1px solid #f5f5f9;

		&:hover {
			-webkit-box-shadow: -3px 6px 10px -6px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: -3px 6px 10px -6px rgba(0, 0, 0, 0.5);
			box-shadow: -3px 6px 10px -6px rgba(0, 0, 0, 0.5);
		}
	}
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
