.top-header {
	background-color: #3c3c3c;
	margin: 0;
	border-bottom: 1px solid #757575;

	p {
		color: #fcd700;
		margin: 0;
	}
}

#search-box {
	width: 20em;
}

.search-icon {
	position: absolute;
	right: 1em;
	cursor: pointer;
}

.cart {
	width: 10rem;

	span {
		&:nth-child(2) {
			font-size: 14px;
		}
	}
}

.signin-btn {
	font-size: 14px;
}

.item-count {
	height: 1.5em;
	width: 1.5em;
	background-color: white;
}
